
@{
    ViewBag.Title = "Overweight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-size: 20px;">
    <h1>Overweight</h1>
    <a href="#diet" class="text-muted">Healthy tips to reduce weights</a>
    <br />
    <a href="#workout" class="text-muted">Day-to-day workouts</a>
    <br />
    <a href="#dietplan" class="text-muted">Here's the diet plan for you!!</a>
    <br />

    <h1 id="diet" class="text-white bg-primary">Healthy tips to reduce weights</h1>
    <ul>
        <li>Leafy Greens have several properties that make them perfect for a weight loss diet, such as being low in calories and carbohydrates and loaded with fiber.</li>
        <li>Fatty fish like salmon is incredibly healthy and very satisfying, keeping you full for many hours with relatively few calories.</li>
        <li>Cruciferous vegetables are low in calories but high in fiber and nutrients. Adding them to your diet is not only an excellent weight loss strategy but may also improve your overall health.</li>
        <li>Replacing some of the carbs or fat in your diet with protein could make it easier for you to lose excess fat.</li>
        <li>Tuna is low-calorie, high-protein food which helps in weight loss</li>
        <li>Beans and legumes are a good addition to your weight loss diet. They’re both high in protein and fiber, contributing to feelings of fullness and a lower calorie intake.</li>
        <li>
            Soups can be an effective part of a weight loss diet.<br />
            Their high water content makes them very filling. However, try to avoid creamy or oily soups.
        </li>
        <li>Avocados are a good example of a healthy fat source you can include in your diet</li>
        <li>You should avoid refined grains if you’re trying to lose weight. Choose whole grains instead — they’re much higher in fiber and other nutrients.</li>

    </ul>

    <h1 id="workout" class="text-white bg-primary">Day-to-day workouts</h1>
    <ul>
        <li> Walking is one of the best exercises to focus to improve your fitness and lose weight.</li>
        <li>Push-ups are one of the top exercises you can use to get in shape when you're overweight or obese.</li>
        <li>In addition to walking, riding a stationary bike is a great exercise you can use to improve your body and get your heart rate up. </li>
        <li>Leg lifts are a great exercise for working out your lower body, and there are several types of leg lifts you can try. Side leg lifts, or side-lying hip abduction exercises, are one of the best types you may want to give a shot.</li>
        <li>Performing a glute bridge exercise can also be a good exercise to try when improving your personal fitness as a beginner. Performing bridges will strengthen your core and build your lower back and gluteus muscles.</li>
        <li>Squats are also one of the best exercises for burning calories. According to this formula, a person who weighs 160 pounds and performs squats for 15 minutes will burn around 230 calories.</li>
        <li>
            Exercising in the water can have multiple benefits.<br />

            Water helps to support your body weight, which makes you feel lighter. It also reduces the impact on your joints, which means that the pain you might feel in your hips or knees from moving on land is virtually nonexistent when you stand in the water.
        </li>

    </ul>
    <h1 id="dietplan" class="text-white bg-primary">Diet Planner</h1>
    <table class="table table-bordered table-hover">
        <thead class="text-white bg-dark">
            <tr>
                <th>Meals</th>
                <th>What to have</th>
            </tr>
        </thead>
        <tbody class="table-primary">
            <tr>
                <td>Breakfast</td>
                <td>
                    <ul>
                        <li>
                            Chana dal pancakes with mixed vegetables and a glass of milk
                        </li>
                        Or
                        <li>  Apple cinnamon porridge made with milk and topped with sliced almonds.</li><
                        Or
                        <li>  Vegetable dalia and a glass of milk</li>
                        Or

                        <li>Whole fruits or a glass of fresh vegetable juice with pulp.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Lunch</td>
                <td>
                    <ul>
                        <li>Whole-grain roti with tofu and mixed vegetables</li>
                        Or
                        <li>Whole-grain roti with vegetable subji</li>
                        Or
                        <li>Vegetable sambar with brown rice.</li>
                        Or
                        <li>Large salad with rajma curry and quinoa.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Dinner</td>
                <td>
                    <ul>
                        <li>You can have chapatis, vegetables and swap the dal with vegetable salad.</li>
                        <li>Mixed salad made of cucumber, carrot, and tomatoes</li>

                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>


