
@{
    ViewBag.Title = "Underweight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-size: 20px;">
    <h1><bold>Tips to increase your weight</bold></h1>
    <h3>Links to the Contents</h3>

    <a href="#diet" class="text-muted">Home remedies for healthy weight gain</a><br />
    <a href="#workout" class="text-muted">To be fit and fine</a><br />
    <a href="#dietplan" class="text-muted">Diet Planner</a>
    <br /><br />

    <h2 id="diet" class="text-white bg-primary">Home remedies for healthy weight gain</h2><br />
    <div class="dietlist">
        <ul>
            <li>Dry dates and milk are a good source of protein, sugar, energy and vitamins that help you gain adequate muscles without putting on much weight.</li>
            <li>
                Take one tablespoon of clarified butter and mix it well with one tablespoon of sugar.
                <br />Eat this mixture every day at least half an hour before your lunch or dinner on an empty stomach
            </li>
            <li>
                Pair Mango and Milk Together which comprises adequate amounts of carbohydrate, sugar and proteins
                <img src="https://images.theconversation.com/files/62738/original/4k2ggtyf-1414161128.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" width="500" height="500" />
            </li>
            <li>Afternoon Nap Is As Important As A Good Night's Sleep</li>
            <li>Adding a few peanuts to your daily diet helps in gaining weight.</li>
            <li>Pair your banana with a glass of milk; better still, prepare banana shake and replace it with your morning/evening tea or coffee.</li>
            <li>
                Don't Boil Potatoes, Bake Them.<br />
                Packed with carbohydrates, adding potatoes to your diet will help increase your body weight.
            </li>

        </ul>
    </div>

    <h1 id="workout" class="text-white bg-primary">To be fit and fine</h1><br />
    <div>
        <p>Regular exercise is one of the most important steps to bulk up. But as with losing weight, gaining weight should be a part of a holistic plan.</p>
        <ul>
            <li>Pushups are simple and help build muscle in your arms and shoulders</li>
            <li>
                Do pullups which engage your lats, mid-back, rear delts, biceps, forearms, and core.
                <img src="https://static01.nyt.com/images/2017/04/09/well/9minute-workout-promo/9minute-workout-promo-superJumbo.png" />
            </li>

            <li>Squats helps build muscle in your butt and legs, especially your quadriceps femoris (quads) muscles.</li>
            <li>
                Lunges.
                You can do this exercise anywhere. It’s great for bulking up and toning your leg muscles
            </li>
            <li>Bench presses help build shoulder, tricep, and chest muscles. This is a good exercise for bulking up. The more weight you can bench, the more muscle you’ll build.</li>
        </ul>
        <p>
            To gain weight, minimize aerobic and cardio exercises. These are meant to burn fat and tone muscle, not bulk you up.

            You don’t have to avoid them entirely, though. You can do these exercises in moderation to tone your muscles.
        </p>
    </div>


    <h1 id="dietplan" class="text-white bg-primary">Diet Planner</h1><br />
    <div>
        <table class="table table-bordered table-hover">
            <thead class="text-white bg-dark">
                <tr>
                    <th>Meals</th>
                    <th>What to have</th>
                </tr>
            </thead>
            <tbody class="table-primary">
                <tr>
                    <td>Breakfast</td>
                    <td>
                        <ul>
                            <li>
                                2 multigrain breads with low-fat butter and egg omelet (2 egg whites from 1 whole egg).<br />
                                Or<br />
                                A cup of corn flakes, oats with milk, or any cereal porridge (use full-fat milk).
                            </li>
                            <li>Whole fruits or a glass of fresh vegetable juice with pulp.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>
                        <ul>
                            <li>A small cup of rice and two chapatis.</li>
                            <li>A cup of pulses (masoor, moong, chana).</li>
                            <li>3 oz chicken breast or a piece of fish/ eggs/ tofu/cottage cheese.</li>
                            <li>A small cup of curd or yogurt.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Dinner</td>
                    <td>
                        <ul>
                            <li>½ cup of brown rice and 1 cup of kidney beans/black beans/ mushroom curry.</li>
                            <li>Mixed salad made of cucumber, carrot, and tomatoes</li>
                            <li>A glass of full fat milk before bed</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


