@{
    ViewBag.Title = "Home Page";
}

<html>
<body style="overflow:hidden;">
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="https://ghwcc.org/wp-content/uploads/2018/09/Eat-Right1.jpg" style="width:100%">

        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="https://www.macromomma.com/wp-content/uploads/2015/11/fit-apple.jpg" style="width:100%">

        </div>
        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="https://cdn.cdnparenting.com/articles/2018/12/05161926/590825882-H.jpg" style="width:100%">

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
   

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>

</body>
</html>

       


<p class="caption font-weight-bolder" style=" transform: translate(150px,-450px);">
    Lets keep our body<br />
    Fit and Fine!!&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    
    <div style="transform: translate(860px,-350px);">
        <button type="button" class="btn btn-outline-danger btn-lg">
            @Html.ActionLink("Lets Start!", "Login", "Accounts")

        </button>
    </div>

</p>




       
